/JavaEE_LabWorks-Lab02_CDI/nbproject/private/
/Lab2/nbproject/private/
/Lab2/build/
/Новая папка/JavaEE_LabWorks-Lab02_CDI/nbproject/private/
/Новая папка/Lab2/build/
/Новая папка/Lab2/nbproject/private/
